.page--login {
  hr {
    height: 1px;
    border: 1px solid #ebebeb;
    outline: 0;
    margin-top: 40px;
  }
}

.page--login__next-btn {
  margin: 30px 0 70px 0;

  a {
    color: blue;
  }
}

.page--login__inner-component {
  margin-top: 100px;

  .grid {
    margin: 20px 0;
  }
}

.login-form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  ._is-login-error {
    color: red;
  }

  input[disabled],
  button[disabled] {
    opacity: 0.7;
    cursor: default;
  }
}

.login-form__heading {
  margin-bottom: 20px;

  h3 {
    font-size: 14px;
    margin: 0;
  }

  p {
    margin-top: 7px;
  }
}

.login-form__input {
  margin-bottom: 12px;

  input {
    width: 100%;
  }

  label,
  input {
    margin: 0;
    padding: 15px 10px;
  }
}
